<form method='post' action='<%= action%>'>
  <input type='hidden' name='ref' value='<%= branch %>'>
  <textarea rows='20' cols='50'name='content'><%= content %></textarea>
  <input type='submit' value='save'/>
</form>
